/* Контейнер всей страницы */
.battery-types-container {
    background-color: rgba(40, 102, 163, 0.5); /* Цвет фона */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    width: calc(90vw - 40px); /* 90% от ширины экрана минус отступы */
    height: calc(100vh - 40px); /* Высота экрана минус отступы */
    margin: 20px;
    display: flex; /* Для выравнивания содержимого */
    flex-direction: column; /* Расположение элементов по вертикали */
    padding: 10px;
    gap: 10px;
    overflow: hidden;
}

/* Настройка шапки таблицы */
.battery-types-table-header {
    display: grid; /* Сетка для управления ширинами */
    grid-template-columns: 50px repeat(5, 1fr); /* Первый столбец фиксированной ширины, остальные равные */
    background-color: rgba(40, 102, 163, 0.5);
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    text-align: center;
    border: 2px solid #dff2ff;
}

.battery-types-table-header div {
    background-color: #dff2ff; /* Цвет ячеек внутри шапки */
    padding: 10px;
    border: 2px solid rgba(40, 102, 163, 0.5);
}

.battery-types-table-header div:first-child {
    border-radius: 10px 0 0 0;
}

.battery-types-table-header div:last-child {
    border-radius: 0 10px 0 0;
}

/* Настройка контейнера для таблицы */
.battery-types-table-wrapper {
    flex-grow: 1; /* Таблица занимает всё доступное пространство */
    overflow-y: auto; /* Прокрутка по вертикали */
    border: 2px solid #dff2ff;
}

/* Настройка таблицы */
.battery-types-table {
    width: 100%; /* Таблица занимает всю ширину обёртки */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    scrollbar-width: none; /* Скрываем полосу прокрутки в Firefox */
}

.battery-types-table-wrapper::-webkit-scrollbar {
    display: none; /* Скрываем полосу прокрутки в Chrome, Safari */
}

.battery-types-table tr {
    display: grid; /* Сетка для управления ширинами */
    grid-template-columns: 50px repeat(5, 1fr); /* Первый столбец фиксированной ширины, остальные равные */
}

.battery-types-table td {
    text-align: center;
    padding: 10px;
    border: 2px solid #dff2ff; /* Границы ячеек */
}

.battery-types-table tr:hover {
    background-color: rgba(40, 102, 163, 0.8); /* Подсветка строки при наведении */
    cursor: pointer;
}

/* Настройка кнопки добавления типа АКБ */
.btn-add-battery-type {
    background-color: #dff2ff;
    border-radius: 0 0 10px 10px;
    color: black;
    padding: 10px;
    border: none;
    width: calc(90vw - 60px);
    cursor: pointer;
    font-size: 16px;
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.btn-add-battery-type:hover {
    background-color: rgba(40, 102, 163, 0.8);
    color: white;
}

/* Настройка страницы параметров акб */
.detail-content {
    padding-right: 5px;
    padding-left: 5px;
    overflow-y: auto;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
}

.detail-table td {
    border: 1px solid rgba(40, 102, 163, 0.5);
    padding: 10px;
    text-align: left;
}

.detail-table td {
    background-color: #dff2ff;
}

/* Убираем границу для последней строки */
.detail-table tr:last-of-type td {
    border-bottom: none;
}

/* Убираем границу для последнего столбца */
.detail-table td:last-child {
    border-right: none;
}

/* Контейнер кнопок для выравнивания */
.button-container {
    display: flex; /* Ряд для кнопок */
    justify-content: space-between; /* Равномерное распределение */
    width: 100%; /* Полная ширина */
    gap: 10px;
    padding: 0 5px 5px 5px;
}

/* Общий стиль для кнопок */
.battery-type-detail-btn {
    flex: 1; /* Равное распределение кнопок */
    padding: 10px; /* Внутренние отступы для текста */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    cursor: pointer; /* Указатель мыши */
    text-align: center; /* Центрирование текста */
    white-space: nowrap; /* Запрет переноса текста */
    overflow: hidden; /* Убираем выход текста за пределы кнопки */
    text-overflow: ellipsis; /* Добавляем троеточие, если текст обрезается */
    background-color: #dff2ff; /* Фон кнопки */
    color: black; /* Цвет текста */
    border: none;
}

/* Стили для кнопки "Назад" */
.back-btn {
    border-radius: 0 0 0 10px; /* Закругление нижнего и левого углов */
}
.back-btn:hover {
    background-color: rgba(40, 102, 163, 0.8); /* Синий фон при наведении */
    color: white; /* Белый текст */
}

/* Стили для кнопки "Редактировать" */
.edit-btn {
    border-radius: 0; /* Без закругления */
    text-decoration: none;
}

.edit-btn:hover {
    background-color: #ffa500; /* Оранжевый фон при наведении */
    color: white; /* Белый текст */
}

/* Стили для кнопки "Удалить" */
.delete-btn {
    border-radius: 0 0 10px 0; /* Закругление нижнего и правого углов */
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #ff4d4d; /* Красный фон при наведении */
    color: white; /* Белый текст */
}

/* Стили для кнопки "Обновить" */
.update-btn {
    border-radius: 0 0 10px 0; /* Закругление нижнего и правого углов */
    text-decoration: none;
}

.update-btn:hover {
    background-color: #20b955; /* Красный фон при наведении */
}

.confirm-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    display: flex;           /* Используем Flexbox */
    flex-direction: column;  /* Располагаем элементы вертикально */
    justify-content: center; /* Выравниваем по вертикали */
    align-items: center;     /* Выравниваем по горизонтали */
    text-align: center;      /* Выравниваем текст по центру */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-confirm {
    color: rgba(40, 102, 163);
    margin-bottom: 20px; /* Добавляем отступ снизу */
    width: 100%;          /* Текст будет занимать всю доступную ширину */
}

.confirm-form {
    width: 100%;
    display: flex;
    gap: 20px;
}