{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="battery-types-container d-flex" style="flex-direction: row;">
    <div class="battery-card">
        <h5 class="dashboard-card-title">ОБЩАЯ СТАТИСТИКА АБ</h5>
        <div class="stat-main d-flex justify-content-between mb-3">
            <div><strong>{{ total_batteries }}</strong> шт</div>
            <div><strong>{{ batteries_on_equipment }}</strong> шт</div>
        </div>
        <ul class="battery-stats-list">
            <li><span class="icon">🧳</span> <span><strong>{{ batteries_on_equipment }}</strong> на оборудовании</span></li>
            <li><span class="icon">📦</span> <span><strong>{{ batteries_on_storage }}</strong> на складе</span></li>
            <li><span class="icon">❌</span> <span><strong>{{ batteries_utilized }}</strong> на утилизацию</span></li>
            <li><span class="icon">⏰</span> <span><strong>{{ batteries_need_check_equipment }}</strong> необходима проверка на 🧳</span></li>
            <li><span class="icon">⏰</span> <span><strong>{{ batteries_need_check_storage }}</strong> необходима проверка на 📦</span></li>
        </ul>
    </div>
    
    <div class="battery-card">
        <h5 class="dashboard-card-title">ЁМКОСТЬ АБ на ОБОРУДОВАНИИ</h5>
        <div class="capacity-grid header">
            <div>Тип</div>
            <div>Всего</div>
            <div>🔋 &lt 80%</div>
            <div>🪫 &lt 50%</div>
            <div>❌</div>
        </div>

        {% for row in battery_capacity_table_on_equipment %}
            <div class="capacity-grid row">
                <div>{{ row.type }}</div>
                <div>{% if row.total %}{{ row.total }}{% endif %}</div>
                <div>{% if row.mid_low %}{{ row.mid_low }}{% endif %}</div>
                <div>{% if row.low %}<strong>{{ row.low }}</strong>{% endif %}</div>
                <div>{% if row.no_data %}{{ row.no_data }}{% endif %}</div>
            </div>
        {% endfor %}
    </div>
    
    <div class="battery-card">
        <h5 class="dashboard-card-title">ЁМКОСТЬ АБ на СКЛАДЕ</h5>
        <div class="capacity-grid header">
            <div>Тип</div>
            <div>Всего</div>
            <div>🔋 &lt 80%</div>
            <div>🪫 &lt 50%</div>
            <div>❌</div>
        </div>
    
        {% for row in battery_capacity_table_on_storage %}
            <div class="capacity-grid row">
                <div>{{ row.type }}</div>
                <div>{% if row.total %}{{ row.total }}{% endif %}</div>
                <div>{% if row.mid_low %}{{ row.mid_low }}{% endif %}</div>
                <div>{% if row.low %}<strong>{{ row.low }}</strong>{% endif %}</div>
                <div>{% if row.no_data %}{{ row.no_data }}{% endif %}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}