<ul class="nav-menu">
    <li>
        <a href="{% url 'personal_account' %}" class="{% if request.resolver_match.url_name == 'personal_account' %}active{% endif %}">
            <i class="bi bi-person-square"></i>
            <span>Личный кабинет</span>
        </a>
    </li>
    <li>
        <a href="{% url 'homepage' %}" class="{% if 'homepage' in request.path %}active{% endif %}">
            <i class="bi bi-house-fill"></i>
            <span>Главная</span>
        </a>
        {% comment %} <a href="#">
            <i class="bi bi-house-fill"></i>
            <span>Главная</span>
        </a> {% endcomment %}
    </li>
    <li>
        <a href="{% url 'journal' %}" class="{% if 'journal' in request.path %}active{% endif %}">
            <i class="bi bi-book-half"></i>
            <span>Журнал</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="bi bi-calendar2-event"></i>
            <span>События</span>
        </a>
    </li>
    <li>
        <a href="{% url 'battery_types' %}" class="{% if 'battery_types' in request.path %}active{% endif %}">
            <i class="bi bi-battery-full"></i>
            <span>Типы АБ</span>
        </a>
    </li>
</ul>