{% extends 'base.html' %}

{% load static %}

{% block title %}АБ №{{ battery.battery_number }}{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'journal/css/battery_detail.css' %}">
{% endblock %}

{% block content %}
<div class="battery-detail-container">
    <!-- Левая часть: параметры АБ -->
    <div class="battery-detail-half-container">
        <div class="testing-container">
            <div class="header-testing-container">
                {% with request.GET.urlencode as query_params %}
                    {% if previous_location_id and previous_location_id != '0' and previous_location_id != 'None' %}
                        <a class="add-btn" 
                        href="{% url 'journal_filtered' previous_location_id %}{% if query_params %}?{{ query_params }}{% endif %}">
                            <i class="bi bi-arrow-left fs-3"></i>
                        </a>
                    {% else %}
                        <a class="add-btn" 
                        href="{% url 'journal' %}{% if query_params %}?{{ query_params }}{% endif %}">
                            <i class="bi bi-arrow-left fs-3"></i>
                        </a>
                    {% endif %}
                {% endwith %}
                <h5 class="battery-detail-header">Аккумуляторная батарея №{{ battery.battery_number }}</h5>
            </div>

            <div class="battery-sticker-container">
                <div class="battery-sticker">
                    <div style="display: flex; flex-direction: column; align-items: center; padding-right: 10px; align-self: center; width: 50%">
                        <span class="path-item">Место установки:</span>
                        {% with last_item=installations_path|last %}
                            <strong>{{ last_item.location_obj.location_title }}</strong>
                        {% endwith %}

                        {% if battery.qr_code and battery.qr_code.name %}
                            <img src="{{ battery.qr_code.url }}" alt="QR" width="70%">
                        {% else %}
                            <!-- Заглушка -->
                            <div style="width: 80%; height: 80%; background: #f8f9fa; 
                                        border: 1px solid #dee2e6; border-radius: 4px;
                                        display: flex; align-items: center; justify-content: center;">
                                <span style="color: #6c757d; font-size: 10px; text-align: center;">
                                    QR<br>недоступен
                                </span>
                            </div>
                        {% endif %}
                        <span class="path-item" style="font-weight: bold; text-align: center; display: block;">АБ №{{ battery.battery_number}}</span>
                    </div>

                    <div class="vertical-separator"></div>

                    <div style="display: flex; flex-direction: column; align-items: start; padding-left: 10px; align-self: center">
                        <span class="path-item">
                            Тип: <strong>{{ battery.battery_type.manufacturer }} {{ battery.battery_type }}</strong>
                        </span>
                        <span class="path-item">
                            S/N: <strong>{{ battery.serial_parameters.serial_number|default:"Н/Д" }}</strong>
                        </span>
                        <span class="path-item">Дата изготовления:</span>
                        <span class="path-item" style="font-weight: bold;">{{ battery.serial_parameters.manufacture_date|date:"d.m.Y"|default:"Н/Д" }}</span>
                        <span class="path-item">Дата измерения:</span>
                        <strong>{{ testings_dbt12d.last.testing_date|date:"d.m.Y"|default:"Н/Д" }}</strong>
                        <span class="path-item">
                            SOH: 
                            {% with testings_dbt12d.last as last_test %}
                                <strong>
                                    {% if last_test and last_test.SOH %}
                                        {{ testings_dbt12d.last.SOH|floatformat:0|default:"Н/Д" }}%
                                    {% else %}
                                        Н/Д
                                    {% endif %}
                                </strong>
                            {% endwith %}
                            SOC: 
                            {% with testings_dbt12d.last as last_test %}
                                <strong>
                                    {% if last_test and last_test.SOC %}
                                        {{ testings_dbt12d.last.SOC|floatformat:0|default:"Н/Д" }}%
                                    {% else %}
                                        Н/Д
                                    {% endif %}
                                </strong>
                            {% endwith %}
                        </span>
                        <span class="path-item">
                            Напряжение: 
                            {% with testings_dbt12d.last as last_test %}
                                <strong>
                                    {% if last_test and last_test.VOL %}
                                        {{ last_test.VOL }} В
                                    {% else %}
                                        Н/Д
                                    {% endif %}
                                </strong>
                            {% endwith %}
                        </span>
                        <span class="path-item">
                            R<sub>ном</sub>: <strong>{{ battery.battery_type.internal_resistance|default:"Н/Д" }} мОм</strong>
                        </span>
                        <span class="path-item">
                            R<sub>изм</sub>: 
                            {% with testings_dbt12d.last as last_test %}
                                <strong>
                                    {% if last_test and last_test.R %}
                                        {{ last_test.R }} мОм
                                    {% else %}
                                        Н/Д
                                    {% endif %}
                                </strong>
                            {% endwith %}
                        </span>
                    </div>
                </div>

                <div class="battery-detail-button-v-container">
                    <a class="battery-detail-btn" href="{% url 'battery_detail_parameters' battery.id %}">Параметры АБ</a>
                    <a class="battery-detail-btn" href="{% url 'battery_download_label' battery.id %}">Скачать этикетку</a>
                    <a class="battery-detail-btn" href="{% url 'battery_detail_edit' battery.id %}">Редактировать</a>
                </div>
            </div>
        </div>

        <div class="testing-container">
            <div class="header-testing-container">
                <h5 class="battery-detail-header">История мест установки (хранения) АБ №{{ battery.battery_number }}</h5>
                <a class="add-btn" href="{% url 'add_installation_location_battery' battery.id %}">
                    <i class="bi bi-plus fs-3"></i>
                </a>
            </div>

            <div class="battery-detail-instllation-table-wrapper">
                <table class="battery-detail-installation">
                    <tbody>
                        {% for item in installations_path %}
                            {% with location=item.history path=item.path installation_location=item.location_obj %}
                                <tr data-item-id="{{ location.id }}"
                                    class="test-row"
                                    data-item-type="installation"
                                    data-delete-url="{% url 'delete_installation' location.id %}"
                                    onclick="console.log('Location ID: {{ location.id|default:'NO ID' }}')">
                                    <td class="installation-card">
                                        <div>
                                            {% for place in path %}
                                                {% if forloop.last %}
                                                    <span class="final-location">{{ place.location_title }}</span>
                                                {% else %}
                                                    <span class="path-item">{{ place.location_title }}</span> →
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <hr class="separator">

                                        <span class="path-item" style="color: gray">
                                            Описание: {{ installation_location.system_title|default:"—" }}
                                        </span>
                                        {% if installation_location.location_title not in hide_system_for_locations %}
                                            <span class="path-item" style="color: gray">
                                                Система: {{ installation_location.system_name|default:"—" }}
                                            </span>
                                        {% endif %}
                                        
                                        <div class="spaced-container">
                                             {% if installation_location.location_title not in hide_system_for_locations %}
                                                <span class="final-location">
                                                    <i class="bi bi-battery-full"></i>
                                                    {{ installation_location.battery_count }} х {{ installation_location.nominal_capacity|default:"0" }} А∙ч
                                                </span>
                                            {% endif %}
                                            
                                            <span class="path-item date-align-right">
                                                {{ location.installation_date|date:"d.m.Y" }}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="battery-detail-button-h-container">
                <a class="battery-detail-btn" href="{% url 'add_installation_location_battery' battery.id %}?action=warehouse">На склад</a>
                <a class="battery-detail-btn" href="{% url 'add_installation_location_battery' battery.id %}?action=utilization">В утилизацию</a>
                <a class="battery-detail-btn" href="{% url 'add_installation_location_battery' battery.id %}?action=archive">В архив</a>
            </div>
        </div>
    </div>
    
    <!-- Правая часть: измерения -->
    <div class="battery-detail-half-container">
        <!-- Измерения DBT12D -->
        <div class="testing-container">
            <div class="header-testing-container">
                <h5 class="battery-detail-header">Измерения DBT12D</h5>
                <a class="add-btn" href="{% url 'add_testing_dbt12d' battery.id %}">
                    <i class="bi bi-plus fs-3"></i>
                </a>
            </div>
            
            {% include 'journal/battery_test_table.html' with testings=testings_dbt12d model=model_dbt12d test_type='dbt12d' %}
        </div>

        <div class="testing-container">
            <div class="header-testing-container">
                <h5 class="battery-detail-header">Измерения IC105</h5>
                <a class="add-btn" href="{% url 'add_testing_ic105' battery.id %}">
                    <i class="bi bi-plus fs-3"></i>
                </a>
            </div>
            
            {% include 'journal/battery_test_table.html' with testings=testings_ic105 model=model_ic105 test_type='ic105' %}
        </div>
    </div>
</div>

<!-- Контекстное меню (изначально скрыто) -->
<div id="contextDropdown" class="dropdown-menu" >
    <button class="dropdown-item" onclick="openEditModal()">
        Редактировать
    </button>
    <button class="dropdown-item delete-btn"
            onclick="deleteItem()">
        Удалить
    </button>
</div>

{% include 'journal/modals/edit_test_dbt12d_modal.html' %}
{% include 'journal/modals/edit_test_ic105_modal.html' %}
{% include 'journal/modals/edit_installation_modal.html' %}

{% endblock %}