{% extends 'base.html' %}

{% block title %}Журнал{% endblock %}

{% block content %}
<div class="battery-types-container">
    <!-- Шапка страницы -->
    {% include 'journal/header_journal.html' %}

    <!-- Шапка таблицы -->
    <div class="journal-table-header">
        <div class="battery-types-table-cell">№</div>
        <div class="battery-types-table-cell">Место установки</div>
        <div class="battery-types-table-cell">Номер</div>
        <div class="battery-types-table-cell">Тип</div>
        <div class="battery-types-table-cell">Дата измерения</div>
        <div class="battery-types-table-cell">Состояние</div>
    </div>

    <!-- Обёртка для таблицы -->
    <div class="battery-types-table-wrapper">
        <table class="battery-types-table">
            <tbody>
                {% for item in page_obj %}
                <tr data-href="{% url 'battery_detail' item.battery_id %}" class="clickable-row">
                    <td>{{ item.index }}</td>
                    <td>{{ item.installation_location }}</td>
                    <td>{{ item.battery_number }}</td>
                    <td>{{ item.battery_type }}</td>
                    <td>{{ item.testing_date }}</td>
                    <td>
                        {% if item.soh >= 80 %}
                            <i class="fa-solid fa-battery-full" style="color: rgb(0, 255, 0);"></i>
                        {% elif item.soh >= 60 %}
                            <i class="fa-solid fa-battery-half" style="color: rgb(246, 255, 0);"></i>
                        {% elif item.soh >= 40 %}
                            <i class="fa-solid fa-battery-half" style="color: rgb(255, 174, 0);"></i>
                        {% else %}
                            <i class="fa-solid fa-battery-empty" style="color: rgb(255, 0, 0);"></i>
                        {% endif %}
                        {{ item.soh|floatformat:0 }}%
                        
                        <i class="fa-solid fa-car-battery" style="margin-left: 10px;"></i> 
                        {{ item.vol }} В
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Пагинация -->
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
        <span>
            {% if page_obj.has_previous %}
                <a class="pagination-button" href="?page=1">В начало</a>
                <a class="pagination-button" href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% endif %}

            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a class="pagination-button" href="?page={{ page_obj.next_page_number }}">Далее</a>
                <a class="pagination-button" href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}