/* Стилизация шапки страницы */
.filter-container {
    background-color: #dff2ff;
    border-radius: 10px 0 0px 0px;
    padding: 10px;
    width: 100%;
}

.no-rounded {
    border-radius: 0;
}

.all-rounded {
    border-radius: 10px 10px 10px 10px;
}

.header-link {
    text-decoration: none;
    color: black;
}

.header-link:hover {
    color: rgb(194, 108, 23);
}

.filter-container-path {
    background-color: #dff2ff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-link {
    text-decoration: none;
    background-color: rgba(40, 102, 163, 0.8);
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
}

.filter-link:hover {
    cursor: pointer;
    background-color: #dd862e;
    color: black;
}

.filter-divider {
    width: 100%;
    background: rgba(40, 102, 163, 0.8);
    height: 10px;
}

.current-location {
    text-decoration: none;
    background-color: rgba(221, 134, 46, 0.5);
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    white-space: nowrap;
}

/* Стилизация для кнопки добавить */
.filter-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    position: relative;
    place-items: center;
}

.add-battery-btn {
    background-color: #dff2ff;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    text-align: center;
    align-content: center;
}

.add-battery-btn:hover {
    background-color: #dd862e;
    color: black;
}

/* Стилизация для шапки таблицы */
.journal-table-header {
    display: grid; /* Сетка для управления ширинами */
    grid-template-columns: 50px repeat(5, 1fr); /* Первый столбец фиксированной ширины, остальные равные */
    background-color: rgba(40, 102, 163, 0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border: 2px solid #dff2ff;
}

.journal-table-header div:first-child {
    border-radius: 10px 0 0 0;
}

.journal-table-header div:last-child {
    border-radius: 0 10px 0 0;
}

.journal-table-header div {
    background-color: #dff2ff; /* Цвет ячеек внутри шапки */
    padding: 10px;
    border: 2px solid rgba(40, 102, 163, 0.5);
}

/* Стилизация для элементов пагинации страниц */
.pagination-button {
    text-decoration: none;
    color: #dff2ff;
    cursor: pointer;
}

.pagination-button:hover {
    cursor: pointer;
    color: rgb(194, 108, 23);
}

.battery-types-table-cell {
    align-content: center;
}

.search-input {
    font-size: 14px;
    width: 300px;
}

.search-input-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(40, 102, 163, 0.5);
    border: 0px;
    border-radius: 10px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: all 0.2s;
}

.search-input-btn:hover {
    background: #ffa600;
}

.search-input-btn i {
    font-size: 12px;
    transition: transform 0.3s;
}

.search-reset-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(201, 84, 84, 0.57);
    border: 0px;
    border-radius: 10px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: all 0.2s;
    text-decoration: none;
}

.search-reset-btn:hover {
    background: #ff0000;
}

.search-reset-btn i {
    font-size: 12px;
    transition: transform 0.3s;
}

/* Добавьте внутренний контейнер для контента */
.container-content {
    overflow-y: auto; /* Вертикальный скролл */
    overflow-x: hidden; /* Горизонтальный скролл отключен */
    padding-right: 10px; /* Отступ, чтобы контент не прилипал к краю */
    
    /* Скрываем полосу прокрутки для разных браузеров */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
}

/* Скрываем полосу прокрутки для WebKit-браузеров (Chrome, Safari) */
.container-content::-webkit-scrollbar {
    display: none;
    width: 0;
}