/* Стилизация шапки страницы */
.filter-container {
    background-color: #dff2ff;
    border-radius: 10px 0 0px 0px;
    padding: 10px;
    width: 100%;
}

.no-rounded {
    border-radius: 0;
}

.all-rounded {
    border-radius: 10px 10px 10px 10px;
}

.header-link {
    text-decoration: none;
    color: black;
}

.header-link:hover {
    color: rgb(194, 108, 23);
}

.filter-container-path {
    background-color: #dff2ff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-link {
    text-decoration: none;
    background-color: rgba(40, 102, 163, 0.8);
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
}

.filter-link:hover {
    cursor: pointer;
    background-color: #dd862e;
    color: black;
}

.filter-divider {
    width: 100%;
    background: rgba(40, 102, 163, 0.8);
    height: 10px;
}

.current-location {
    text-decoration: none;
    background-color: rgba(221, 134, 46, 0.5);
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    white-space: nowrap;
}

/* Стилизация для кнопки добавить */
.filter-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    position: relative;
    place-items: center;
}

.add-battery-btn {
    background-color: #dff2ff;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    text-align: center;
    align-content: center;
}

.add-battery-btn:hover {
    background-color: #dd862e;
    color: black;
}

/* Стилизация для шапки таблицы */
.journal-table-header {
    display: grid; /* Сетка для управления ширинами */
    grid-template-columns: 50px repeat(5, 1fr); /* Первый столбец фиксированной ширины, остальные равные */
    background-color: rgba(40, 102, 163, 0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border: 2px solid #dff2ff;
}

.journal-table-header div:first-child {
    border-radius: 10px 0 0 0;
}

.journal-table-header div:last-child {
    border-radius: 0 10px 0 0;
}

.journal-table-header div {
    background-color: #dff2ff; /* Цвет ячеек внутри шапки */
    padding: 10px;
    border: 2px solid rgba(40, 102, 163, 0.5);
}

/* Стилизация для элементов пагинации страниц */
.pagination-button {
    text-decoration: none;
    color: #dff2ff;
    cursor: pointer;
}

.pagination-button:hover {
    cursor: pointer;
    color: rgb(194, 108, 23);
}

/* Стили для ячейки с фильтром */
.type-filter-cell {
    display: flex;
    align-items: center;
}

.filter-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    border: 0 !important;
}

.center-item {
    grid-column: 2;
}

.right-item {
    grid-column: 3;
    justify-self: end;
}

.filter-title {
    font-weight: 600;
    white-space: nowrap;
    margin-right: 8px;
    margin: 0;
}

/* Стили для выпадающего меню */
.dropdown {
    padding: 0 !important;
    position: relative;
    display: block;
    border: 0 !important;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
}

.filter-icon:hover {
    color: #dd862e;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 180px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 6px;
    z-index: 100;
    padding: 5px 0;
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.dropdown-content a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    transition: all 0.2s;
}

.dropdown-content a:hover {
    background-color: #dd862e;
    border-radius: 5px;
}

.dropdown-content a.active {
    background-color: #e3f2fd;
    color: rgb(194, 108, 23);
}

.battery-types-table-cell {
    align-content: center;
}